@*
    改寫Transart\MisService\mser05_q.asp
    維持HTML設計
*@

@*@model PagedList.IPagedList<Data.Models.MisSerReject>*@
@*以下pageList的@model 最後不用加分號*@
@model PagedList.IPagedList<WebApplication22.Areas.SYS_23.Models.MisServiceReject>
@using PagedList.Mvc;

@{
    ViewBag.Title = "資訊服務申請單--清單";

    //連結UrlPath
    string my_URL = this.Request.Url.ToString();
    string my_controllername = this.ViewContext.RouteData.Values["controller"].ToString();
    int i = my_URL.IndexOf(my_controllername);
    string base_URL = my_URL.Remove(i);

    int? PageSize = ViewBag.PageSize;
    int? PageNumber = ViewBag.PageNumber;

    //接收controller 傳送變數 (多加??判斷是否為null, 如是設為空字串, 避免controller 判斷是否為空值會跳null的異常)
    string The_No = ViewBag.The_No;
    string Date1 = ViewBag.Date1;
    string Date2 = ViewBag.Date2;
    string QryKind = ViewBag.QryKind;
    //string clickStr = "";
}

@*網頁訊息顯示*@
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
else
{
    //pass
}

<!--<table width="760" border="0" cellspacing="0" cellpadding="0" align="center">-->
<table border=0 cellspacing=0 cellpadding=0 align=center height="5" style="width:55%">
    <tr class='heading2'>
        <td colspan=5>退件明細表查印</td>
    </tr>
    <tr>
        <!--<td height=25 class="clsTableTitleLeft" style='display:none;'>-->
        <td height=25 class="clsTableTitleLeft" style='display:none;'>
            表單類別：
            <select id="QryKind" name="QryKind">
                <!--<option value="1">新產品開發需求單</option>-->
                <option value="2">資訊服務需求單</option>
            </select>
        </td>
        <td height=25 class="clsTableTitleLeft" colspan="3">
            退件日期
            ：起
            <!--<input type="text" id="Date1" name="Date1" size="8" maxlength="10" value="" onchange="chkDate('Date1')" class="datepicker" readonly=readonly autocomplete="off">-->
            <input type="text" id="Date1" name="Date1" size="8" maxlength="10" value="" onchange="chkDate('Date1')" class="datepicker" autocomplete="off"  style="margin-top: 5px;margin-bottom: 5px">
            <!--
    <input type="text" name="Date1" size="8" maxlength="10" value="<%=Request.QueryString(" Date1") %>" onchange="chkDate('Date1')">
    <IMG id="img2" style="CURSOR: hand" onclick="showCalendar('Date1')" height=13 src="../images/date_picker.gif" width=13>
        -->
            --訖
            <!--<input type="text" id="Date2" name="Date2" size="8" maxlength="10" value="" onchange="chkDate('Date2')" class="datepicker" readonly=readonly autocomplete="off">-->
            <input type="text" id="Date2" name="Date2" size="8" maxlength="10" value="" onchange="chkDate('Date2')" class="datepicker" autocomplete="off">
            <!--
    <input type="text" name="Date2" size="8" maxlength="10" value="<%=Request.QueryString(" Date2") %>" onchange="chkDate('Date2')">
    <IMG id="img2" style="CURSOR: hand" onclick="showCalendar('Date2')" height=13 src="../images/date_picker.gif" width=13>
        -->
        </td>
        <td height=25 class="clsTableTitleLeft">
            單號：
            <input type="text" id="The_No" name="The_No" size="8" maxlength="8" value="" autocomplete="off">
        </td>
        <td height=25 class="clsTableTitleCenter">
            <!--<input type='button' name='idQuery' value='查詢' onclick='DoQry()' class="clsButton">-->
            <input type='button' name='idQuery' value='查詢' onclick='DoQry()'>
        </td>
    </tr>

    <tr class='clsFiledTitleCenter'>
        <td height='20' width=120 class='clsFiledTitleCenter'>退件日期</td>
        <td height='20' width=80 class='clsFiledTitleCenter'>單號</td>
        <td height='20' width=200 class='clsFiledTitleCenter'>主題</td>
        <td height='20' width=310 class='clsFiledTitleCenter'>退件說明</td>
        <td height='20' width=50 class='clsFiledTitleCenter'>退件人</td>
    </tr>
    @if (QryKind == "")
    {
        @*
            sHtml = sHtml & "<input type='hidden' name='RecCount' id='RecCount' value=''>
            sHtml = sHtml & "<input type='hidden' name='PageNum' id='PageNum' value=''>
            sHtml = sHtml & "<input type='hidden' name='PageSize' id='PageSize' value=''>
            sHtml = sHtml & "<input type='hidden' name='PageNo' id='PageNo' value=''>
            EPaperRejectList = sHtml
            EXIT Function
        *@
    }
    else
    {
        if (Model != null)
        {
            <tr>
                <td colspan="5">
                    <!--<table width="760" border="0" cellspacing="1" cellpadding="0" id='DataBody'  style="behavior: url(../library/tablehl.htc)"  hlColor='#ACACFF' slColor='#ACACFF'>-->
                    <!--<table class="text-center datatableBlue" width="760" border="0" cellspacing="1" cellpadding="0" id='DataBody' style="behavior: url(../library/tablehl.htc); width:100%" hlColor='#ACACFF' slColor='#ACACFF'>-->
                    <table class="text-center datatableBlue" border=1 cellspacing=1 cellpadding=0 id='DataBody' style="behavior:url(../library/tablehl.htc); width:100%" hlColor='#FFFF66' slColor='#FFFF66' bordercolor='#D7DCDD'>
                        <!--<% =EPaperRejectList( Request.QueryString("The_No") ,Request.QueryString("Date1") ,Request.QueryString("Date2") ,Request.QueryString("QryKind") ,Request.QueryString("PageNo") ,Request.QueryString("PageSize") ) %>-->
                        @foreach (var item in Model)
                        {                            
                            <tr height=25 onclick="ShowContent('@item.MST_MSNO')" style='cursor:pointer'>
                                <td width=120 align="left">@item.MST_DATE.Value.ToString("yyyy/MM/dd")</td>
                                <td width=80>@item.MST_MSNO</td>
                                <td width=200>@item.MS_SUBJECT</td>
                                <td width=310>@item.MST_ACBACKMEMO</td>
                                <td width=50>@item.MST_ACNAME</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    }
    </table>
    @*資料大於10筆再顯示跳頁元件*@
@if (QryKind != null & QryKind != "")
{
    if (Model.TotalItemCount > 10) //用於判斷筆數, 此變數需與controller 定義筆數一致
    {
        <div class="d-flex justify-content-center">
            @Html.PagedListPager(
              //(PagedList.IPagedList<Data.Models.MisService>)TempData["DataRow"],
              Model,
               page => Url.Action("P_23N05_q", "F_23N05", new
               {
                   The_No = The_No,
                   Date1 = Date1,
                   Date2 = Date2,
                   QryKind = QryKind,
                   PageNumber = page,
                   PageSize = PageSize
               }
                                 ),
               new PagedListRenderOptions
               {
                   LinkToFirstPageFormat = "<< 第一頁",
                   LinkToPreviousPageFormat = "< 上一頁",
                   LinkToNextPageFormat = "下一頁 >",
                   LinkToLastPageFormat = "最後一頁 >>",
                   DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                   DisplayLinkToLastPage = PagedListDisplayMode.Always,
                   //DisplayLinkToIndividualPages = false,
                   //PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
                   //DisplayPageCountAndCurrentLocation = true,
                   ItemSliceAndTotalFormat = "第 {0} 到 {1} 項 / 共 {2} 項",
                   DisplayItemSliceAndTotal = true
               })
        </div>
    }
}

<script>
    $(document).ready(function () {
        //window.systemButton.btnSysF1.setCaption('列印');
        //window.systemButton.btnSysF1.setDisplay(true);
        //window.systemButton.btnSysF1.enable(true);

        $("#spl_f1").hide();//預設不啟用spl_f1
    });

    function DoQry() {
        var The_No = ""; //單號
        var Date1 = ""; //退件起日
        var Date2 = ""; //退件迄日
        var QryKind = "";//表單類別
        var sTemp = "";

        The_No = $("#The_No").val().trim();
        Date1 = $("#Date1").val().trim();
        Date2 = $("#Date2").val().trim();
        QryKind = $("#QryKind").val().trim();

        //設定欄位僅可選擇datePicker方式
        //日期處理嘗試呼叫script/library/Date.js (如無效可先將程式轉貼此View 再偵錯)
        var checkDtae = ""; //如此變數為空值表正常輸入日期, 否則要重填

        if (Date1 != "") {
            if (isDate(Date1)) {
                Date1 = CDate4YYYYMMDD(Date1);
            } else {
                //alert(" 起始日:" + Date1 +" 不是有效日期");
                checkDtae = " 起始日:" + Date1 + " 不是有效日期!\n";
                $("#Date1").val('');
            }
        }
        if (Date2 != "") {
            if (isDate(Date2)) {
                Date2 = CDate4YYYYMMDD(Date2);
            } else {
                //alert(" 迄止日:" + Date2 + " 不是有效日期");
                checkDtae = checkDtae + " 迄止日:" + Date2 + " 不是有效日期!\n";
                $("#Date2").val('');
            }            
        }        
                    
	    if( Date1 != "" && Date2 != "" ){
		    if( Date1 > Date2 ){
			    sTemp = Date1 ;
			    Date1 = Date2 ;
			    Date2 = sTemp ;
		    }
	    }

        if (checkDtae == "") {
            //alert("4");
            //alert("@base_URL" + "@my_controllername" + "/P_23N05_q?The_No=" + The_No + "&Date1=" + Date1 + "&Date2=" + Date2 + "&QryKind=" + QryKind);
            //載入指定頁面資料
            //URL = "mser05_q.asp?The_No=" + The_No + "&Date1=" + Date1 + "&Date2=" + Date2 + "&QryKind=" + QryKind;
            window.location.href = "@base_URL" + "@my_controllername" + "/P_23N05_q?The_No=" + The_No + "&Date1=" + Date1 + "&Date2=" + Date2 + "&QryKind=" + QryKind;
        } else {
            alert(checkDtae);
        }
    }

    function ShowContent(The_No) {
        var The_No = The_No;
        //alert("111");
        //alert(The_No);
        /*
        switch (The_No.substr(0, 2)) {
            case "IS":
                rptURL = "mser05_l.asp?MS_NO=" + The_No;
                break;
            //	   case "DE" :
            //			rptURL="../NewDevelop/ndep03_l.asp?NP_NO=" + The_No ;
            //	       	break;
            default:
                break;
        }

        sFeature = "status:no; center:yes; help:no; dialogWidth:720px ;dialogHeight:550px ;resizable:yes";
        retVal = window.showModalDialog(rptURL, null, sFeature);
        */
                
        let h = 550;
        let w = 720;
        let top = (screen.height / 2) - (h / 2);
        let left = (screen.width / 2) - (w / 2);
        
        window.open("/SYS_23/F_23N05/P_23N05_l?The_No=" + The_No, "myWindow",
            config = "width=" + w + ",height=" + h +
            ",left=" + left + ",top=" + top + ",toolbar=no,menubar=no," +
            "resizable=no,status=no,location=no,scrollbars=no")
            
    }

    
</script>
