@model PagedList.IPagedList<WebApplication22.Areas.SYS_01.Models.CarUse_REC>
@using PagedList.Mvc;

@{
    ViewBag.Title = "公務車使用記錄查印";
    string m_ve_no = ViewBag.ve_no ?? "";
    string m_dpno = ViewBag.dpno;
    string m_CarNo = ViewBag.CarNo;
    string m_Date1 = ViewBag.Date1;
    string m_Date2 = ViewBag.Date2;
    int m_Flag = ViewBag.Flag;
    int m_PageSize = ViewBag.PageSize;
    int m_PageNo = ViewBag.PageNo;
}
<link href="~/Content/mainstyle.css" rel="stylesheet" />
<form method="post" action="P_01E04_q" name="frmCrtl" id="frmCrtl" onsubmit="return false;">
    <table width="760" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td colspan=4 height=25 bgcolor="#0000FF" class='heading' width="760"><b><font color="#FFFFFF">公務車使用記錄查印</font></b></td>
        </tr>
        <tr>
            <td height=25 class="clsTableTitleLeft" width="140">
                車號：
                @Html.Action("GetCarNoMenu", new { ve_no = @m_ve_no })
            </td>
            <td height=25 class="clsTableTitleLeft" width="180">
                使用單位：
                @Html.Action("GetSelDep", new { dpno = @m_dpno })
            </td>
            <td height=25 class="clsTableTitleCenter" width="340">
                使用日期
                ：起
                <input type="text" id="Date1" name="Date1" class="datepicker" size="10" maxlength="10" value="@m_Date1">
                ～訖
                <input type="text" id="Date2" name="Date2" class="datepicker" size="10" maxlength="10" value="@m_Date2">
            </td>
            <td height=25 class="clsTableTitleCenter" width="100">
                <input type='button' name='idQuery' value='查詢' onclick='DoQry()' class="clsButton">
            </td>
    </table>
</form>
@if (Model.Count > 0)
{
    <table width="760" border="1" cellspacing="0" cellpadding=0 style='BORDER-COLLAPSE:collapse;' align=Center hlColor='#FFFF80' slColor='#FFFF80'>
        <THEAD>
            <tr align='center'>
                <td height='20' class='clsFiledTitleCenter' width=60>車號
                <td height='20' class='clsFiledTitleCenter' width=80>使用部門
                <td height='20' class='clsFiledTitleCenter' width=60>使用者
                <td height='20' class='clsFiledTitleCenter' width=250>使用日期
                <td height='20' class='clsFiledTitleCenter' width=100>地點
                <td height='20' class='clsFiledTitleCenter' width=70>出發里程
                <td height='20' class='clsFiledTitleCenter' width=70>到達里程
                <td height='20' class='clsFiledTitleCenter' width=70>實際里程
        </THEAD>
        <tbody>
            @foreach (var item in Model)
            {
                <tr height=25>
                    <td width=60 class='clsListNormalCenter'>  @item.tt_carno  </td>
                    <td width=80 class='clsListNormalCenter'>  @item.ty_dpname </td>
                    <td width=60 class='clsListNormalCenter'>  @item.ty_name	 </td>
                    <td width=250 class='clsListNormalCenter'> @item.tt_date1.ToString("yyyy/MM/dd") ～  @item.tt_date2.ToString("yyyy/MM/dd")	</td>
                    <td width=100 class='clsListNormalLeft'>   @item.ty_place  </td>
                    <td width=70 class='clsListNormalCenter'>  @(item.tt_trip1 ?? 0)</td>
                    <td width=70 class='clsListNormalCenter'>  @(item.tt_trip2 ?? 0) </td>
                    <td width=70 class='clsListNormalCenter'>  @(item.tt_trip ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(
          Model,
          page => Url.Action("P_01E04_q", "F_01E04", new { dpno = m_dpno,
                                                          CarNo = m_CarNo,
                                                          Date1 = m_Date1,
                                                          Date2 = m_Date2 ,
                                                          Flag  = m_Flag,
                                                          PageSize = m_PageSize,
                                                          PageNo = page }
                            ),
          new PagedListRenderOptions
          {
              LinkToFirstPageFormat = "<< 第一頁",
              LinkToPreviousPageFormat = "< 上一頁",
              LinkToNextPageFormat = "下一頁 >",
              LinkToLastPageFormat = "最後一頁 >>",
              DisplayLinkToFirstPage = PagedListDisplayMode.Always,
              DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
              DisplayLinkToNextPage = PagedListDisplayMode.Always,
              DisplayLinkToLastPage = PagedListDisplayMode.Always,
              DisplayLinkToIndividualPages = false
                     //PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
              //DisplayPageCountAndCurrentLocation = true,
              //ItemSliceAndTotalFormat = "第 {0} 到 {1} 項 / 共 {2} 項",
              //DisplayItemSliceAndTotal = true
          })
    </div>
}
<script>
    $(document).ready(function () {
        $("#spl_qry").click(function () {
            DoQry();
        });
        $("#spl_f1").click(function () {
            doPrint1();
        });
        $("#spl_f1").text("列印");
        $("#spl_f2").click(function () {
            doPrint2();
        });
        $("#spl_f2").text("統計表");
        $("#selCarNo").val("@m_CarNo");
        $("#selDep").val("@m_dpno");
    });
    function DoQry() {
        var dpno, Date1, Date2, sTemp, CarNo;

        CarNo = $("#selCarNo").val();
        dpno =  $("#selDep").val();
        Date1 = $("#Date1").val();
        Date2 = $("#Date2").val();

        //載入指定頁面資料
        URL = "P_01E04_q?dpno=" + dpno + "&CarNo=" + CarNo + "&Date1=" + Date1 + "&Date2=" + Date2 + "&Flag=1";
        location.href = URL;
    }
    function doPrint1() {
        var dpno, Date1, Date2, sTemp, CarNo;

        CarNo = $("#selCarNo").val();
        dpno = $("#selDep").val();
        Date1 = $("#Date1").val();
        Date2 = $("#Date2").val();

        rptURL = "/SYS01/F_01E04/P_01E04_r?dpno=" + dpno + "&CarNo=" + CarNo + "&Date1=" + Date1 + "&Date2=" + Date2;
        sFeature = "status=no,left=500,top=150,width=720,height=550,resizable=yes,toolbar=no,titlebar=yes,menubar=no";
        alert(rptURL);
        //retVal = window.open(rptURL, "_blank", sFeature);

    }

    function doPrint2() {
        var dpno, Date1, Date2, sTemp, CarNo;

        CarNo = $("#selCarNo").val();
        dpno = $("#selDep").val();
        Date1 = $("#Date1").val();
        Date2 = $("#Date2").val();

        rptURL = "/SYS01/F_01E04/P_01E04_r1?dpno=" + dpno + "&CarNo=" + CarNo + "&Date1=" + Date1 + "&Date2=" + Date2;
        sFeature = "status=no,left=500,top=150,width=720,height=550,resizable=yes,toolbar=no,titlebar=yes,menubar=no";
        alert(rptURL);
        //retVal = window.open(rptURL, "_blank", sFeature);

    }

</script>